.form {
    background-color: #fff;
    padding: 50px;
    justify-content: center;
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap:2.5em;
}
.form_group{
    position: relative;
    --color: #5757577e;
    text-align: center;
}
.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: darkcyan;
}
.form_label {
    color: var(--color);
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5, color .3s;
    font-size: small;
}

