.form_cortina {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
}

.open_form {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: max-content;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}


img {
    position: relative;
    bottom: -100px;
    width: 450px;
    padding-left: 11px;

}

.illustracion_form {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;

}
.titulo_form{
    margin-top: 50px;
}